/*GENERAL*/

@font-face {
  font-family: '256_bytesregular';
  src: url('../StTransmission-800-ExtraBold.otf') format('opentype'), url('../StTransmission-800-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'velvendamegablack';
  src: url('../velvenda_chill.ttf') format('truetype'), url('../velvenda_megablack-webfont.woff2') format('woff2'), url('../velvenda_megablack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
}

body/*, html*/ {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("../images/fronPageBackground.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "256_bytesregular", serif;
}

h1 {
  font-family: "velvendamegablack", serif;
  color: white;
}

h3 {
  font-size: 30px;
  color: grey;
}

/*NAVIGATION BAR*/

.MainImage {
  font-family: "velvendamegablack", serif;
  color: white;
  font-size: 80px;
}

.NavBar {
  color: #848484;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 50px;
  position: fixed;
}

#NavHome {
  color: #ffffff;
}

.NavItem {
  width: 10%;
  margin-left: 20px;
  padding-top: 6px;
  cursor: pointer;
  -webkit-transition: font-size 1s, padding-top 1s;
  transition: font-size 1s, padding-top 1s;
}

.NavItem:hover {
  font-size: 36px;
  /*padding: 0;*/
  padding-top: 0;
}

.egg, .eggThree {
  cursor: pointer;
}

/*HOME PAGE*/

#Home {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50px;
  top: 75px;
  left: 0;
  color: #ffffff;
  padding-left: 50px;
  padding-top: 30px;
  visibility: visible;
  width: 600px;
}

.MainText {
  color: #ffffff;
}

.MainImage {
  padding: 50px;
  /*visibility : hidden;*/
}

.WeThePeopleTextImage {
  position: relative;
  width: 450px;
  height: 200px;
}

.Main {
  position: relative;
  padding-left: 50px;
}

/*ABOUT PAGE*/

#About {
  position: absolute;
  height: 100%;
  left: 50px;
  top: 75px;
  left: 0;
  color: #ffffff;
  padding-left: 50px;
  visibility: hidden;
  padding-top: 50px;
  width: 632px;
}

/*REVIEWS PAGE*/

#Reviews {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50px;
  top: 75px;
  left: 0;
  color: #ffffff;
  padding-left: 50px;
  visibility: hidden;
}

/*GALLERY PAGE*/

#Gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50px;
  top: 75px;
  left: 0;
  color: #ffffff;
  padding-left: 50px;
  visibility: hidden;
}

/*TEAM PAGE*/

#Team {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50px;
  top: 75px;
  left: 0;
  color: #ffffff;
  padding-left: 50px;
  padding-top: 30px;
  visibility: hidden;
}

.TeamMember {
  width: 300px;
}

.TeamMemberName {
  font-weight: bold;
  font-size: 36px;
  position: relative;
  cursor: pointer;
}

#Team div.content {
  display: none;
}

#Team div.content img {
  width: 25%;
  padding: 10px;
}

#Team div.content img:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  border: 5px solid white;
  padding: 5px;
}

/*Transition block*/
#transition-block {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  /*display: none;*/
}

#transition-block img {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#world button {
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: transparent;
}

#world>button img {
  width: 25%;
}

#world button:hover {
  background-color: black;
}

#leftBtn {
  left: 0;
}

#rightBtn {
  right: 0;
}
